* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: no-repeat center center fixed;
  background-size: cover;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 0px 0px 20px #242424;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1em;

}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:focus, a:hover {
  color: yellow;
}

#time {
  font-size: 6em;
  text-align: center;
}

#weather {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#weather img {
  width: 100px;
}

#weather p:not(:first-of-type) {
  text-align: right;
  width: 100%;
  font-size: 1.2em;
  text-transform: capitalize;
  padding-bottom: .7em;
  margin-top: -.3em;
}
